<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/investors/our_investors" class="btn block border-bottom bg-yellow">Current investors</a></li>
      </ul>
    </aside>

    <div class="sm-col sm-col-8 px2">
      <h1 class="h2-responsive mt0">Current 1ROOF investors</h1>


      <p>We’re very proud that they work with us. They have a wide mix of strengths and experiences but one aim in common: to make it easy to create beautiful homes.</p>

      <p><ol>
        <li><a href="http://startupfundingclub.com/" target="_blank"><strong>Start up funding club</strong></a> - An early stage SEIS investment fund led by Stephen Page. Investments include Emoov, Onfido.</li>
                <br>
        <li><a href="http://www.mrporter.com/journal/journal_issue136/3#1" target="_blank"><strong>Robert Devereux</strong></a> - Founding Virgin Partner and angel investor. Investments include Virgin Ltd. and The New Forests Company. </li>
                <br>
        <li><a href="https://www.savetherhino.org/" target="_blank"><strong>David Stirling</strong></a> - Philanthropist, founder of savetherhino.org.</li>
                <br>
        <li><a href="http://www.ironwoodafrica.com/" target="_blank"><strong>Ben Jackson</strong></a> - Contractor, director of a specialist construction company. </li>
                <br>
        <li><a href="https://www.linkedin.com/in/rupert-eastwood-b43a6913" target="_blank"><strong>Rupert Eastwood</strong></a> - Chairman of Japaninvest, entrepreneur and angel investor. Investments include Sweaty Betty, Bought by Many.</li>
                <br>
        <li><a href="https://www.topcashback.co.uk/" target="_blank"><strong>Topcashback Ltd</strong></a> - Global online deals marketplace, led by Ollie Rag and Mike Tomkins. Clients include O2, sky, Samsung, Amazon.</li>
                <br>
        <li><a href="http://michaeldent.com/" target="_blank"><strong>Michael Dent</strong></a> - CEO of Liberty Tech, entrepreneur and angel investor. Investments include Ometria, Zipcube.</li>
                <br>
        <li><a href="https://www.linkedin.com/in/richpleeth" target="_blank"><strong>Rich Pleeth</strong></a> - Founder of Sup App, entrepreneur and angel investor. Ex. L’Oreal, Google, Get Taxi.</li>
                <br>
        <li><a href="https://www.linkedin.com/in/kevin-kamer-8189025" target="_blank"><strong>Kevin Kamer</strong></a> - Angel investor. Analyst at Och Ziff Capital. Ex. Blackstone, Capital valuation group.</li>
                <br>
        <li><a href="https://www.linkedin.com/in/jamie-gourlay-b4b27823" target="_blank"><strong>Jamie Gourlay</strong></a> - Director at art dealership 10Hanover, entrepreneur and angel investor. Investments include BitPagos, Lens.</li></p>
      <div class="center">
        <a href="<%= brief_path %>" class="btn btn-primary btn-big">Get a free quote</a>
      </div>
    </div>

  </div>
</section>

</section>
