<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/guides/preparing-a-project" class="btn block border-bottom">Preparing a project</a></li>
        <li><a href="/pages/guides/choosing-a-builder" class="btn block border-bottom bg-yellow">Choosing a builder</a></li>
        <li><a href="/pages/guides/comparing-quotes" class="btn block border-bottom">Comparing quotes</a></li>
        <li><a href="/pages/guides/paying-safely" class="btn block border-bottom">Paying safely</a></li>

      </ul>

    </aside>

    <div class="sm-col sm-col-8 px2">

      <h1 class="h2-responsive mt0">How to choose a contractor</h1>

      <p>Without experience in the industry it’s hard to know who’s full of hot air and who’s really good. But there are things you can check to make sure you choose the right person for your project</p>


<h3>Experience and skill</h3>

<p>This means both the length of time they have been in the industry and also their experience in your specific type of job. Have they done similar projects before?

<h3>Recommendations and past projects </h3>

<p>It's important to check the scale and quality of previous projects. The best way to do this is to speak to previous clients. Even better to see the work they’ve done for them either in person or photos.

<h3>Qualifications</h3>

<p>Electricians and gas safe plumbers are legally required to have qualifications in order to work. Builders and carpenters may have City and Guilds or other qualifications which add to their credibility.</p>


<h3>Personality</h3>
  <p>Being able to communicate well with your professional will really help. If someone is spending a lot of time in your house it is nice to get on with them. If any problems to arise or you want to make changes, it will be easier to work it through if you have a good relationship.</p>


    </div>

  </div>
</section>

