<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/guides/preparing-a-project" class="btn block border-bottom">Preparing a project</a></li>
        <li><a href="/pages/guides/choosing-a-builder" class="btn block border-bottom">Choosing a builder</a></li>
        <li><a href="/pages/guides/comparing-quotes" class="btn block border-bottom bg-yellow">Comparing quotes</a></li>
        <li><a href="/pages/guides/paying-safely" class="btn block border-bottom">Paying safely</a></li>

      </ul>

    </aside>

    <div class="sm-col sm-col-8 px2">

      <h1 class="h2-responsive mt0">How to compare quotes</h1>

<p>Quotes can be complicated, often arriving in different formats and for different things. Here are some things to check to make sure you get what you expect.</p>

<h3>Specifications</h3>
<p>Often the description of the works can change. It’s important not to get caught out by different interpretations. ‘Paint room’ can mean something very different to ‘prepare and paint walls and woodwork with primer and two coats Dulux or similar’..</p>

<h3>Rates</h3>
<p>If someone has quoted £1,000 for 10 windows this is less useful than £100 for each window. The later gives you a better idea of costs and avoids disputes if you want to add or remove things.</p>

<h3>Fixed prices</h3>
<p>Pros will sometimes quote with provisional costs rather than fixed prices. Sometimes this is necessary but generally a result of a decision not having been made. It’s generally best to find out what the professional needs to know and get a fixed price.</p>

<h3>Guarantees</h3>
<p>Different professionals will offer different guarantees. It’s important to know what they are and if they are backed by any kind of insurance.</p>


<h3>Start/finish date</h3>
<p>This reflects the level of disturbance you’re likely to experience. It’s helpful to be aware of it before you start.</p>


    </div>

  </div>
</section>

