<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">
      
      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/guides/creating-brief" class="btn block border-bottom">Creating a Brief</a></li>
        <li><a href="/pages/guides/comparing-quotes" class="btn block border-bottom bg-yellow">Comparing Quotes</a></li>
        <li><a href="/pages/guides/paying-safely" class="btn block border-bottom">Paying Safely</a></li>
      </ul>

    </aside>
    
    <div class="sm-col sm-col-8 px2">
      
      <h1 class="h2-responsive mt0">How to compare quotes?</h1>

      <p>Getting quotes for home improvement can take ages and comparing them can be an even bigger problem. This means the real cost can be hidden and cause problems later down the line. We’ve re-engineered the process of quoting so that it’s more transparent for everyone:</p>


      <h2>1ROOF makes it transparent!</h2>

      <h3>A simple structure</h3>

      <p>We create a simple template which provides the framework for your quotes. It separates the quote into rooms and tasks and so everything is clear and understandable. </p>


      <h3>Total transparency</h3>

      <p>The template is then sent to professionals to quote on. They have to break down their rates into labour and materials so prices are easily comparable. </p>


      <h3>See every detail</h3>

      <p>Also required are the professionals’ insurance, timeframe and guarantees. You’ll now have all the necessary information in a simple and comparable format. Awesome! </p>

      
    </div>
    
  </div>
</section>

