<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">
      
      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/guides/creating-brief" class="btn block border-bottom bg-yellow">Creating a Brief</a></li>
        <li><a href="/pages/guides/comparing-quotes" class="btn block border-bottom">Comparing Quotes</a></li>
        <li><a href="/pages/guides/paying-safely" class="btn block border-bottom">Paying Safely</a></li>
      </ul>

    </aside>
    
    <div class="sm-col sm-col-8 px2">
      
      <h1 class="h2-responsive mt0">How to create a brief?</h1>

      <p>Starting a project can be daunting, there are so many unknowns. The trick is to prepare well, to ask questions and speak to professionals as early as possible. But it’s not always easy to know who to go to or what to ask. That’s where we come in:</p>


      <h2>1ROOF makes it simple!</h2>

      <h3>A clear structure</h3>

      <p>Getting started is easy. We prompt you for details and you can add as much or as little information as you like. You can also add plans and photos as your project progresses.</p>


      <h3>Expert advice</h3>

      <p>We’re on hand to help at every opportunity. For more specific questions, we can put you in touch with our range of experienced, handpicked professionals.</p>


      <h3>In one place</h3>

      <p>The platform keeps all the details of your project in one place. No more repeating yourself or crossed wires. Phew!</p>
      
      
    </div>
    
  </div>
</section>

