<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/guides/preparing-a-project" class="btn block border-bottom">Preparing a project</a></li>
        <li><a href="/pages/guides/choosing-a-builder" class="btn block border-bottom">Choosing a builder</a></li>
        <li><a href="/pages/guides/comparing-quotes" class="btn block border-bottom">Comparing quotes</a></li>
        <li><a href="/pages/guides/paying-safely" class="btn block border-bottom bg-yellow">Paying safely</a></li>

      </ul>

    </aside>

    <div class="sm-col sm-col-8 px2">

      <h1 class="h2-responsive mt0">How to pay for building work</h1>

      <p>Payment is often a thorny issue during building work. Customers are scared of paying before work is done and professionals need to manage their cash flow. Here are some rules of thumb which will help avoid disputes.</p>

<h3>Deposits</h3>
<p>Paying a deposit for work is not unusual. A professional will have to book in a large portion of time in advance and it is helpful for them to have a sign of commitment. However anything above 10% is unnecessary.</p>

<h3>Schedules</h3>
<p>Setting up a payment schedule is an extremely useful practice. Generally it is set out in weekly or bi-weekly installments with a ‘retention’ held for a period of time after the work for snagging.</p>

<h3>In advance</h3>
<p>After the deposit there should be no reason to ever pay a professional for work in advance. Even for materials this is generally a bad idea. A professional should have a credit facility with their suppliers.</p>

<h3>Cash</h3>
<p>Paying a builder in cash generally means that you will not be issued with an invoice or a receipt. This means there is no evidence of the work and you lose all legal resource including arbitration, insurance and guarantees. This is generally an extremely dangerous practice.</p>




    </div>

  </div>
</section>

