<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">
      
      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/guides/creating-brief" class="btn block border-bottom">Creating a Brief</a></li>
        <li><a href="/pages/guides/comparing-quotes" class="btn block border-bottom">Comparing Quotes</a></li>
        <li><a href="/pages/guides/paying-safely" class="btn block border-bottom bg-yellow">Paying Safely</a></li>
      </ul>
      
    </aside>
    
    <div class="sm-col sm-col-8 px2">
      
      <h1 class="h2-responsive mt0">How to pay home improvement professionals?</h1>

      <p>Knowing how to pay builders and contractors has always been a problem. Some take cash, others want big deposits and in general it’s hard to know that your money is safe. There are some rules of thumb but each job is unique, there is no single correct way. This meant we had to take an entirely new approach to solving this mighty beast of a problem. </p>


      <h2>1ROOF makes it safe!</h2>

      <h3>Simple payments</h3>

      <p>To process payments we have partnered with Stripe UK, world leader in online transactions, so you know your details are safe.</p>


      <h2>Staged schedule</h2>

      <p>Payments are staged at weekly intervals with the money taking 7 days to deposit. We can pause or refund the transfer so you never pay unless you’re happy.</p>


      <h2>No paperwork</h2>

      <p>No fuss, no mess. All records are stored neatly online, easily accessible for tax and insurance purposes. Very handy!</p>

      
    </div>
    
  </div>
</section>

