<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/guides/preparing-a-project" class="btn block border-bottom bg-yellow">Preparing a project</a></li>
        <li><a href="/pages/guides/choosing-a-builder" class="btn block border-bottom">Choosing a builder</a></li>
        <li><a href="/pages/guides/comparing-quotes" class="btn block border-bottom">Comparing quotes</a></li>
        <li><a href="/pages/guides/paying-safely" class="btn block border-bottom">Paying safely</a></li>
      </ul>

    </aside>

    <div class="sm-col sm-col-8 px2">

      <h1 class="h2-responsive mt0">Guide - Part 1: Preparing for your project</h1>

<p>Preparation is everything and home improvement is no exception. A good brief sets the tone for a good project. Below are a list of things that, if you think about now, are likely to help your renovation be as stress free as possible.

<h3>Collect inspiration</h3>
<p>This will help you decide what to do and give your professionals a better understanding of what you’re trying to achieve so they can give better advice. Here’s a list of websites, blogs, Twitter and Instagram accounts you can follow to get some ideas.<p>

<h3>Create a scope of works</h3>
<p>A detailed list of things you expect to be done. Don’t worry about knowing the technical terms.<p>

<h3>Regulations and permissions</h3>
<p>If you share the freeehold or are making external alterations you may need a party wall agreement or building control.</p>

<h3>Create detailed plans</h3>
<p>If it’s a larger project this may include architects drawings and CAD renderings. Even if not hugely complicated draw internal specifications yourself, the more detailed the better. Here's some help finding an architect/designer. </p>

<h3>Sourcing materials.</h3>
<p>Not having materials ready is often a major source of delay. Waiting to choose your professional before ordering is wise. They may have useful advice regarding specifications, discounts and timings. But it’s good to already have an idea of what you want. Here's a list of useful suppliers.</p>

<h3>Timeline</h3>
<p>Start date and end date are essential. Key milestones such as materials deliveries, completed sections and site discussions are good to have booked in.  Here's an example timeline.</p>


    </div>

  </div>
</section>

