<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/pros/ben_barnard" class="btn block border-bottom bg-yellow">Ben Bernard</a></li>
        <li><a href="/pages/pros/clinton_may" class="btn block border-bottom">Clinton May</a></li>
        <li><a href="/pages/pros/sandel_muscat" class="btn block border-bottom">Sandel Muscat</a></li>
      </ul>
    </aside>

    <div class="sm-col sm-col-8 px2">
<h1 class="h2-responsive mt0">Ben Barnard</h1>

<%= image_tag src="/images/pros/ben_barnard.jpeg" %>



      <div class="center">
        <a href="<%= brief_path %>" class="btn btn-primary btn-big">Get a free quote</a>
      </div>
    </div>

  </div>
</section>

</section>
