<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/pros/ben_barnard" class="btn block border-bottom">Ben Bernard</a></li>
        <li><a href="/pages/pros/clinton_may" class="btn block border-bottom bg-yellow">Clinton May</a></li>
        <li><a href="/pages/pros/sandel_muscat" class="btn block border-bottom">Sandel Muscat</a></li>
      </ul>
    </aside>

    <div class="sm-col sm-col-8 px2">
      <h1 class="h2-responsive mt0">Clinton May - Extension Specialist</h1>

<%= image_tag src="/images/pros/clinton_may.jpg" %>

</br>
      <p>Here’s a bit about Clinton, one of our contractors in the South East.<p>

<p><strong>How did you get in to building?</strong></p>

<p>I was born in Devon, that’s where I learnt the trade. I started as a labourer and become a bricklayer and builder. We did luxury houses in Dartmouth from the foundations up. Now I’m based in Blackheath.</p>

<p><strong>What brought you to London?</strong></p>

<p>It was more fun. I did a lot of partying in Shoreditch in the 90’s. I was a DJ for a bit, doing deep house, funk, soul. That was about 12 years ago and when I thought I’d better knuckle down. I started this company, did a few really good projects and it went from there.</p>

<p><strong>What projects do you specialise in?</strong></p>

<p>Extensions and conversions mostly. I have 9 guys on the books and we’re usually doing 2 or 3 projects at a time. It can get quite technical but I don’t mind that.</p>

<p><strong>What do you think is the most important thing in your profession?</strong></p>

<p>I’ve learnt a lot about honesty and hard work. Those are the key things I think. Always do your best even when things are tough.</p>


      <div class="center">
        <a href="<%= brief_path %>" class="btn btn-primary btn-big">Get a free quote</a>
      </div>
    </div>

  </div>
</section>

</section>
