<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/pros/sandel_muscat" class="btn block border-bottom bg-yellow">Sandel Muscat</a></li>
      </ul>
    </aside>

    <div class="sm-col sm-col-8 px2">
      <h1 class="h2-responsive mt0">Sandel Muscat - Renovation specialist</h1>


      <%= image_tag src="/images/pros/sandel_muscat.jpg" %>


      <p><strong>How long have you been building?</strong></p>

        <p>I’ve been building for at least 10 years. I started this company 3 years ago, it’s grown very fast. There’s usually 4 projects on at any time and I manage them all.</p>


        <p><strong>Where did you start?</strong></p>

        <p>I grew up in Romania and live in Plaistow at the moment. A lot of the people I work with are Romanian.</p>



        <p><strong>Are they family?</strong></p>

        <p>One is my cousin but actually most of them I met through building.</p>


        <p><strong>What jobs do you specialise in?</strong></p>

        <p>Most really, from bathrooms and kitchens to extensions with lots of steel. Generally for homeowners.</p>



      <div class="center">
        <a href="<%= brief_path %>" class="btn btn-primary btn-big">Get a free quote</a>
      </div>
    </div>

  </div>
</section>

</section>
