<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/pros/ben_barnard" class="btn block border-bottom bg-yellow">Freddies Job</a></li>
      </ul>
    </aside>

    <div class="sm-col sm-col-8 px2">
<h1 class="h2-responsive mt0">Freddie's renovation - Stoke Newington</h1>

<%= image_tag src="/images/fred/fred1.jpeg" %>
<p><i>We met up with Freddie, to find out a bit more about his project:</i><p>


<p><strong>Why did you decide to do the work?</strong></p>

<p>I bought this house with a friend and wanted it to feel a bit more ‘us’. It wasn’t in bad condition but hadn’t been done up that well beforehand.</p>

<p><strong>How did you feel about the process?</strong></p>

<p>Well, to be honest we wouldn’t have known where to start. Even when you get a quote you’ve got no idea if it’s right. You also want to know that the builder can deliver good quality. That’s what you guys do so I was pretty happy.</p>

<%= image_tag src="/images/fred/fred2.jpeg" %>

<p><strong>What did think of your builder?</strong></p>

<p>A man of few words but he seemed nice. He was quite good looking, after a haircut.</p>

<p><strong>What advice would you give to someone else doing work?</strong></p>

<p>Be bold with your design choices. My housemate Tom picked a colour which might have been a bit mad but it actually looks great.</p>

<p><strong>How do you think the process could be improved?</strong></p>

<p>I really like numbers and knowing what things cost. A clearer breakdown which could have been checked off e.g. room by room would have been nice. Also, I wasn’t quite sure which bits were your responsibility and which bits were the builders. If you could make that clearer early on that would help.</p>

<%= image_tag src="/images/fred/fred3.jpeg" %>

<p><strong>Any overall thoughts?</strong></p>

<p>Overall, the best thing for us was just the recommendation of a builder that we knew was good and the reassurance that the price was right. We couldn’t be happier customers really.</p>

<p>Thanks Freddie!</p>

      <div class="center">
        <a href="<%= brief_path %>" class="btn btn-primary btn-big">Get a free quote</a>
      </div>
    </div>

  </div>
</section>

</section>
