@import "font-awesome";

@font-face{
  font-family: 'Weissenhof Grotesk Regular';
  src: font-url('WeissenhofGrotestRegular.woff2') format("woff2"),
       font-url('WeissenhofGrotestRegular.woff') format("woff");
}
@font-face{
  font-family: 'Avenir 85 Heavy';
  src: font-url('Avenir85Heavy.woff2') format("woff2"),
       font-url('Avenir85Heavy.woff') format("woff");
}