.tenders-form
  padding-bottom: 6em


.locked-task-form
  position: fixed
  bottom: 0px
  left: 0px
  width: 100%
  background: white
  z-index: 1400
  form
    @extend .container


.affix
  position: fixed
  top: 0px
  left: 0px
  display: block

#section-category-affix
  width: 300px
  height: 60px
  background: white

.locked-task-bar
  position: fixed
  bottom: 0px
  left: 0px
  width: 100%
  background: white
  z-index: 1400
  form
    @extend .container
    .locked-form-margin-top
      margin-top: 5px
    select

.locked-task-form-inputs
  input
    display: inline-block

.tenders-form
  position: relative

.section-category-affix-holder
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  z-index: 10
  background: white
  .section-category-affix
    @extend .container
    h3, h4
      line-height: 1
      margin-top: 1em
      margin-bottom: 0.5em

.quote-container
  padding-bottom: 170px



.transparent_class
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"

  /* IE 5-7 */
  filter: alpha(opacity=50)

  /* Netscape */
  -moz-opacity: 0.5

  /* Safari 1.x */
  -khtml-opacity: 0.5

  /* Good browsers */
  opacity: 0.5


.disabled-container
  @extend .transparent_class
  input
    pointer-events: none
    tab-index: -1
    background: #ddd