<footer class="py4 bg-gray white">
  <div class="container">
    <div class="clearfix">
      <div class="sm-col sm-col-3 px2 mb3">
        <form target="_blank" name="newsletter" action="//1roof.us8.list-manage.com/subscribe/post?u=605e5ab099493426d0bb214e5&id=09f6733dff" method="post" class="flex flex-stretch">
          <input type="email" name="EMAIL" class="flex-auto field field-dark" placeholder="Join our newsletter" />
          <button type="submit" class="btn bg-yellow gray">
            <i class="fa fa-chevron-right"></i>
          </button>
        </form>

        <h4 class="caps yellow">Connect with us</h4>
        <a class="btn bg-yellow gray mr1 mb1" href="https://twitter.com/1roof_uk"><i class="fa fa-twitter"></i></a>
        <a class="btn bg-yellow gray mr1 mb1" href="https://www.facebook.com/1ROOF-737137999651640/"><i class="fa fa-facebook"></i></a>
        <!-- <a class="btn bg-yellow gray mb1" href="https://twitter.com/1roof_uk"><i class="fa fa-instagram"></i></a> -->
      </div>
      <div class="sm-col sm-col-3 px2 mb3">
        <h4 class="caps mt0 yellow">Pages</h4>
        <a href="/pages/about" class="block mb1">About</a>
        <a href="/pages/values" class="block mb1">Values</a>
        <a href="/pages/faqs" class="block mb1">FAQs</a>

      </div>
      <div class="sm-col sm-col-3 px2 mb3">
        <h4 class="caps mt0 yellow">Guides</h4>
        <a href="/pages/guides/creating-brief" class="block mb1">Creating a Brief</a>
        <a href="/pages/guides/comparing-quotes" class="block mb1">Comparing Quotes</a>
        <a href="/pages/guides/paying-safely" class="block mb1">Paying Safely</a>
      </div>
      <div class="sm-col sm-col-3 px2">
        <h4 class="caps mt0 yellow">Are you a pro?</h4>
        <p><a href="/app/sign_up">Sign up here</a></p>

        <h4 class="caps yellow">Any Feedback?</h4>
        <p>We'd love to hear it. Drop us a line at <a href="mailto:contact@1roof.com">contact@1roof.com</a></p>
      </div>
    </div>
  </div>
</footer>
