<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>1ROOF</title>
<meta name="description" content="The Easy Way to Manage Your Home Improvement Project">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="cleartype" content="on">
<meta name="stripe-key" content="<%= Rails.application.secrets.stripe['publishable_key'] %>">
<%= csrf_meta_tags %>
