<nav class="relative clearfix <%= color %> h5">
  <div class="left">
    <a href="/" class="btn py2"><img src="<%= image_path "logos/#{color}.svg" %>" class="logo--small" /></a>
  </div>
  <div class="right py1 sm-show mr1">
    <a href="/pages/about" class="btn py2">About us</a>
    <a href="/#how-it-works" class="btn py2">How it works</a>
    <a href="/app/signin" class="btn py2">Sign in</a>
  </div>
  <div class="right sm-hide py1 mr1">
    <div class="inline-block" data-disclosure>
      <div data-details class="fixed top-0 right-0 bottom-0 left-0"></div>
      <a class="btn py2 m0">
        <span class="md-hide">
          <i class="fa fa-bars"></i>
        </span>
      </a>
      <div data-details class="absolute left-0 right-0 nowrap bg-white black mt1">
        <ul class="h5 list-reset py1 mb0">
          <li><a href="/pages/about" class="btn block">About us</a></li>
          <li><a href="/#how-it-works" class="btn block">How it works</a></li>
          <li><a href="/app/signin" class="btn block">Sign in</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
