<div class="container center p2">
<h1 class="h1 sm-mt4 mb1">Oops. Looks like this page has moved? (404 Error)</h1>
<p class="h3 sm-col-12 mx-auto mb2">Don't worry - You can go to the home page or login from here. </p>
<div class="mb2">
  <a href="/" class="btn btn-big btn-primary mr1 mb1">Take me home</a>
  <a href="/app/signin" class="btn btn-big btn-primary mb1">Sign in</a>
</div>
</div>
