<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">
      
      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/about" class="btn block border-bottom bg-yellow">About</a></li>
        <li><a href="/pages/values" class="btn block border-bottom">Values</a></li>
        <li><a href="/pages/faqs" class="btn block border-bottom">FAQs</a></li>
      </ul>
      
    </aside>
    
    <div class="sm-col sm-col-8 px2">
      <h1 class="h2-responsive mt0">About 1ROOF</h1>

      <p>We started 1ROOF because we couldn’t believe how difficult it was to manage home improvement.</p>
      <p>Projects take up a lot of time, costs often overrun and if things go wrong it’s hard to know who to turn to.  </p>
      <p>But, having spent a long time in the industry, we knew that with a bit of support and guidance, these problems can so easily be avoided. We had to do something to help.</p>
      <p>We spent years working closely with customers and professionals to create a system that keeps projects on track, and everyone smiling.</p>
      <p>1ROOF does the hard work for you, assisting, managing and recording your project from beginning to end. </p>
      <p>Freeing you up to be more creative, or just focus on other things. </p>
      <p>We hope you enjoy using it as much as we enjoy building it.</p>
      <div class="center">
        <a href="<%= brief_path %>" class="btn btn-primary btn-big">Start Project</a>
      </div>
    </div>
    
  </div>
</section>
