<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/about" class="btn block border-bottom bg-yellow">About</a></li>
        <li><a href="/pages/our_values" class="btn block border-bottom">Our Values</a></li>
        <li><a href="/pages/contact" class="btn block border-bottom">Contact</a></li>
      </ul>
    </aside>

    <div class="sm-col sm-col-8 px2">
      <h1 class="h2-responsive mt0">About 1ROOF</h1>

      <p>We set up 1ROOF after experiencing first hand how difficult arranging improvements for busy homeowners in London was.</p>

      <p>We spent years researching different ways to improve the experience. We've built an instant estimator and project mangement system but realised they only solved parts of the bigger issue.</p>

      <p>It became clear that not much could be done unless the project got off to the right start. It’s essential to get an understandable quote from an appropriate professional. No-one was providing this.</p>

      <p>So this is what 1ROOF does - provide a broken down quote and a hand picked professional for any home improvement project.</p>

      <div class="center">
        <a href="<%= brief_path %>" class="btn btn-primary btn-big">Get a free quote now</a>
      </div>
    </div>

  </div>
</section>
