<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/about" class="btn block border-bottom bg-yellow">About</a></li>
        <li><a href="/pages/our_values" class="btn block border-bottom">Our Values</a></li>
        <li><a href="/pages/contact" class="btn block border-bottom">Contact</a></li>
      </ul>
    </aside>

    <div class="sm-col sm-col-8 px2">
      <h1 class="h2-responsive mt0">About 1ROOF</h1>


      <p>For many busy Londoners home improvement has become increasingly difficult. The shift away from local networks has only added to the problem. People want to improve their homes but don't have the time or expertise.</p>

<p>From both our own experiences and customers' feedback, we found that as long as the client has a broken down quote from an appropriate professional the project would run well. This is the result of good relationships built upon trust and clear expectations. Unfortunately this most basic solution was not easily available.</p>

<p>That's why we created 1ROOF. To provide a network of hand-picked professionals. Alongside a platform to deliver broken down quotes. We believe there has never been an easier way to improve your home</p>


      <div class="center">
        <a href="<%= brief_path %>" class="btn btn-primary btn-big">Get a free quote now</a>
      </div>
    </div>

  </div>
</section>
