<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/about" class="btn block border-bottom bg-yellow">About</a></li>
        <li><a href="/pages/our_values" class="btn block border-bottom">Our Values</a></li>
        <li><a href="/pages/contact" class="btn block border-bottom">Contact</a></li>
      </ul>
    </aside>

    <div class="sm-col sm-col-8 px2">
      <h1 class="h2-responsive mt0">About 1ROOF</h1>


      <p>The busy lives of many living accross London paired with a shift away from localised word of mouth, meant finding the right professionals and guidance for home improvements was becoming increasingly tricky.</p>

      <p>With our own first hand experiences as both customers and professionals we realised that the problems around home improvemnet were far from without solutions. </p>

      <p>We've spent years working out the most efficient and effective way to enable a smooth start to any home improvement project ranging from a redecoration to a full refurb.</p>

      <p>Rather unsurprisingly it was clear everyone wanted a quote from a professionals they could trust. From this foundation projects ran smoothly thanks to good relationships built upon clear communication and expectations from the start.</p>

      <p>By creating a network of highly recommended professionals and a framework for them to delivery quotes we believe there has never been an easier way to get home improvement projects started.</p>


      <div class="center">
        <a href="<%= brief_path %>" class="btn btn-primary btn-big">Get a free quote now</a>
      </div>
    </div>

  </div>
</section>
