<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/about" class="btn block border-bottom">About</a></li>
        <li><a href="/pages/contact" class="btn block border-bottom bg-yellow">Contact</a></li>
      </ul>

    </aside>

    <div class="sm-col sm-col-8 px2">

      <h1 class="h2-responsive mt0">FAQs</h1>

      <h2>Contact</h2>

      <p>You can contact us here</p>


      <h2>Press</h2>

      <p>For any press enquiries please email press@1roof.com</p>




    </div>

  </div>
</section>
