<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/about" class="btn block border-bottom">About</a></li>
        <li><a href="/pages/our_values" class="btn block border-bottom">Our Values</a></li>
        <li><a href="/pages/contact" class="btn block border-bottom bg-yellow">Contact</a></li>
      </ul>

    </aside>

    <div class="sm-col sm-col-8 px2">

      <h1 class="h2-responsive mt0">Contact</h1>

      <h2>General enquiries</h2>

      <p>For general enquiries please contact us on <a href="mailto:contact@1roof.com?Subject=General%enquiry" target="_top">contact@1roof.com</a></p>


      <h2>Press</h2>

      <p>For any press enquiries please email <a href="mailto:press@1roof.com?Subject=Press%enquiry" target="_top">press@1roof.com</a></p>




    </div>

  </div>
</section>
