<section class="container center px2 py4">
  <a name="benefits"></a>
  <div class="clearfix">
    <%= render partial: 'pages/landing/components/benefit', locals: {
      image: 'benefits/customer-service2_dk.png',
      title: 'Tell us your plans',
      description: "We will call you to discuss details, answer any questions and give you an estimated price."
    } %>
    <%= render partial: 'pages/landing/components/benefit', locals: {
      image: 'benefits/quote14000_dk.png',
      title: 'Get an accurate quote',
      description: 'We will arrange a site visit with the most suitable professional who provides a free quote.'
    } %>
    <%= render partial: 'pages/landing/components/benefit', locals: {
      image: 'benefits/house_renovate_dk.png',
      title: 'Renovate with confidence',
      description: 'Our network of contractors are hand-picked for their expertise and quality of work.'
    } %>
  </div>
</section>
