<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/how_it_works" class="btn block border-bottom">How it works</a></li>
        <li><a href="/pages/pros" class="btn block border-bottom">Hand-picked professionals</a></li>
        <li><a href="/pages/quotes" class="btn block border-bottom">Accurate quotes</a></li>
      </ul>

    </aside>

    <div class="sm-col sm-col-8 px2">

      <h1 class="h2-responsive mt0">FAQs</h1>

      <h2>What makes you different to other services?</h2>

      <p>We are with you from start to finish. We answer questions, help collect quotes, check guarantees and more.</p>


      <h2>How much does your service cost?</h2>

      <p>Our service is entirely free for customers. We make our money via a small commission from the professionals. </p>


      <h2>How do you vet the professionals?</h2>

      <p>We handpick them ourselves. Then check their personal information, insurance and recommendations. </p>


      <h2>What happens if I’m not happy with the work?</h2>

      <p>Payments are made in stages. If you’re not happy with something we will block the payment until you’re satisfied.    </p>


      <h2>What happens if there’s still a dispute?</h2>

      <p>We will try and resolve the problem in a friendly manner. If that doesn’t work, arbitration measures are set out in the contract. </p>


      <h2>Can I pay for my project in cash?</h2>

      <p>Paying in cash means there are no records, no guarantees and no insurance. We think it’s not a good idea.</p>


    </div>

  </div>
</section>
