<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/how_it_works" class="btn block border-bottom">How it works</a></li>
        <li><a href="/pages/pros" class="btn block border-bottom">Hand-picked professionals</a></li>
        <li><a href="/pages/quotes" class="btn block border-bottom">Accurate quotes</a></li>
        <li><a href="/pages/faqs" class="btn block border-bottom bg-yellow">FAQs</a></li>
      </ul>

    </aside>

    <div class="sm-col sm-col-8 px2">

      <h1 class="h2-responsive mt0">FAQs</h1>

      <h2>How do you select professionals?</h2>
        <p>We think word of mouth is still the best way to find professionals. So we ask colleagues and customers for recommendations and hand-pick them based on a few extra criteria.</p>
          <li>5+ years running teams</li>
          <br>
          <li>Hands-on experience as a tradesman</li>
          <br>
          <li>A great personality</li>
          <br>
        <p>We then check their personal information, company information and insurance.</p>

      <h2>How do you match me with a professional?</h2>
        <p>Everyone in our network is skilled and professional. We look at a few factors to decide who the most appropriate is for each project.</p>
          <li><strong>Location</strong>- Local is generally best, it saves time, money and leads to better relationships. We narrow the pool down to professional’s within a reasonable range of the project.</li>
          <br>
          <li><strong>Type</strong>- The project may be a kitchen, bathroom, extension or all of the above. Some professionals are particularly suited to one or another. This narrows down the selection again.</li>
          <br>
          <li><strong>Scope of works</strong>- There may be specialist areas such as carpentry, gas works or decorating. We make sure the chosen professional has the appropriate skills.</li>
          <br>

      <h2>How do you create the quotes?</h2>
        <p>We have broken down the tasks within each home improvement project, from installing a sink to redecorating a door.</p>
        <p>We have then taken the average cost for each item and use it to create an initial estimate. It is this which we use to give an idea of cost over the phone. </p>
        <p>We then arrange for a hand-picked professional to come and check the quote. They then make any tweaks necessary to the prices and quantities and submit their final price.</p>

      <h2>Who is responsible for my project?</h2>
        <p>Your chosen professional is directly responsible for the outcome of your project. This is the best way to ensure a high degree of professionalism and accountability. </p>

      <h2>What if I don’t like my professional?</h2>
        <p>All the professionals on our platform are hand-picked and matched. We back their experience, suitability and personality 100%. We’d love to hear why you think we may have got it wrong and will try to rectify our mistake.</p>

      <h2>How do I communicate during my project?</h2>
        <p>We’re always on hand to help but encourage all communication to be between yourself and your professional. Any alterations, questions and comments can be written on the quote itself. Phone calls are natural but it’s best to record important decisions online.</p>

      <h2>Who chooses and orders materials?</h2>
        <p>The customer can expect the professional to supply all basic building materials. These are often referred to as first fix items and are usually anything you can’t see. Such as bricks, wire, copper etc.</p>
        <p>The professional expects the customer to supply second fix materials. These are things you can see, such as a bathroom suite, doors and paint. A professional can supply second fix materials but will expect an agreement in advance.</p>

      <h2>What happens if there’s a dispute?</h2>
        <p>Rarely does a dispute occur. If one does there are various layers of protection:</p>
        <li>We store all information and communication online to clear up small misunderstandings.</li>
        <br>
        <li>If it’s not immediately obvious what to do we have experts on hand to arbitrate and help resolve the issue.</li>
        <br>
        <li>If that doesn’t work every project is subject to a fixed contract which is enforceable by the courts.</li>
        <br>

      <h2>How do I pay?</h2>
        <p>We set up a payment schedule for each project. This consists of a 5% deposit, weekly payments and a 5% retention for snagging. We process the 5% deposit but you can pay the rest of the sum however you’d like. We recommend via direct debit or credit/debit card.</p>


    </div>

  </div>
</section>
