<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/max_form" class="btn block border-bottom bg-yellow ">Max Form</a></li>
      </ul>

    </aside>


    <div class="sm-col sm-col-8 px2">

<form>
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname">
</form>

        </div>


      </section>
