<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/about" class="btn block border-bottom">About</a></li>
        <li><a href="/pages/our_values" class="btn block border-bottom bg-yellow">Our Values</a></li>
        <li><a href="/pages/contact" class="btn block border-bottom">Contact</a></li>
      </ul>
    </aside>

    <div class="sm-col sm-col-8 px2">
      <h1 class="h2-responsive mt0">Our Values</h1>

      <p>We share the same values of many people when it comes to thinking about improving their home. Time and agian we have encontered homeowners wishing home improvement  was less stressful, tiring and confusing.   Like them we believe that the experience of improving ones home should be simpler, more transparent and generally enjoyable.</p>


      <h3>Simplicity</h3>

      <p>Project can have complications caused by in essence a long list of things that needs to get done in a certain order. We have spent the last few years studying the journey that customers go on when getting a project of the groud to create a simple structure that can be followed step by step.</p>



      <h3>Transparency</h3>

      <p>With so much to learn when doing any new project it can be difficult at times to know whats really going on. To make sure that our customers feel confortable and in control of their project, all quotes provided by a 1ROOF member are broken down and detailed. If something isn't clear then let us know and we will get it sorted</p>



      <h3>Enjoyment</h3>

      <p>Doing up a house is a big milestone in peoples lives that they are unlikely to forget. We want to make sure that this memory is a good one, and aim, to help our customer's projects run as smoothly as possible. </p>


      <div class="center">
        <a href="<%= brief_path %>" class="btn btn-primary btn-big">Start Project</a>
      </div>
    </div>

  </div>
</section>
