<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/about" class="btn block border-bottom">About</a></li>
        <li><a href="/pages/our_values" class="btn block border-bottom bg-yellow">Our Values</a></li>
        <li><a href="/pages/contact" class="btn block border-bottom">Contact</a></li>
      </ul>
    </aside>

    <div class="sm-col sm-col-8 px2">
      <h1 class="h2-responsive mt0">Our Values</h1>

      <p>We’ve met many homeowners who wish home improvement was less time consuming and stressful.</p>

      <p>We have felt the pain ourselves, and are sure that it doesn't always have to be this way.</p>

      <p>We use the following values to guide our innovation and change the image of home improvement forever.</p>


      <h3>Simplicity</h3>

      <p>At every step we reduce moving parts and stick to best practices. </p>




      <h3>Transparency</h3>

      <p>Whether putting together a quote or supporting our customers we make sure that our comminications are clear and unbiased.</p>



      <h3>Enjoyment</h3>

      <p>We make the process exciting and fun by adding moments of inspiration and reducing moments of boredom. </p>


      <div class="center">
        <a href="<%= brief_path %>" class="btn btn-primary btn-big">Get a free quote</a>
      </div>
    </div>

  </div>
</section>
