<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/how_it_works" class="btn block border-bottom">How it works</a></li>
        <li><a href="/pages/pros" class="btn block border-bottom bg-yellow">Hand-picked professionals</a></li>
        <li><a href="/pages/quotes" class="btn block border-bottom">Accurate quotes</a></li>
      </ul>

    </aside>

    <div class="sm-col sm-col-8 px2">

      <h1 class="h2-responsive mt0">Hand-picked professionals</h1>

      <p> There are great professionals in the world. But not being experienced in the industry it’s hard for homeowners to separate the good from the bad.</p>

      <p>That’s why we’ve built up a  recommended and hand-picked network. Experienced professionals who can be trusted to do a good job.</p>

      <p>We then match customers with the most suitable in our network. Using a wide range of factors, from location to specialism to get the perfect fit.</p>

      <p>We have great relationships with them all so you know you’re in safe hands.</p>

      <h3>Invite only network</h3>

      We only work with professionals who have been directly recommended to us. We take pride in choosing those who meet the specific requirements of our customers.

      <h3>Experienced professionals</h3>

      <p>Our network consists of professionals with real on site experience who are used to running teams. We also check their past work and qualifications.</p>

      <h3>Friendly people</h3>

      <p>Every professional has been met by us to be sure they share the same values as our customers. We have regular catch-ups to maintain a strong relationship.</p>


    </div>

  </div>
</section>
