<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/how_it_works" class="btn block border-bottom">How it works</a></li>
        <li><a href="/pages/pros" class="btn block border-bottom bg-yellow">Hand-picked professionals</a></li>
        <li><a href="/pages/quotes" class="btn block border-bottom">Accurate quotes</a></li>
        <li><a href="/pages/faqs" class="btn block border-bottom">FAQs</a></li>
      </ul>

    </aside>

    <div class="sm-col sm-col-8 px2">

      <h1 class="h2-responsive mt0">Hand-picked professionals</h1>

      <p> There are great professionals in the world. But not being experienced in the industry it’s hard for homeowners to separate the good from the bad.</p>

      <p>That’s why we’ve built up a  recommended and hand-picked network. Experienced professionals who can be trusted to do a good job.</p>

      <p>We then match customers with the most suitable in our network. Using a wide range of factors, from location to specialism to get the perfect fit.</p>

      <p>We have great relationships with them all so you know you’re in safe hands.</p>

      <h3>Invite only network</h3>

      Our network is an invite only network and we take pride in finding professionals that meet the specific requirements that our customers are looking for.

      <h3>Experienced professionals</h3>

      <p>We only pass on work to professionals with real experience in their field. This means that they must have been in the industry for several years and for certain trades they must have all the correct qualifications to guaranteee quality and safety</p>

      <h3>Sign up procedure</h3>

      <p>We only sign up professionals that have been directly recommended to us. Every professional member of our network has been met personally by us to make sure they share the same values that our customers value. We check past work as well as their insurance and qualifications.</p>


    </div>

  </div>
</section>
