<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/how_it_works" class="btn block border-bottom">How it works</a></li>
        <li><a href="/pages/pros" class="btn block border-bottom bg-yellow">Handpicked professionals</a></li>
        <li><a href="/pages/quotes" class="btn block border-bottom">Accurate quotes</a></li>
        <li><a href="/pages/faqs" class="btn block border-bottom">FAQs</a></li>
      </ul>

    </aside>

    <div class="sm-col sm-col-8 px2">

      <h1 class="h2-responsive mt0">Handpicked professionals</h1>

      <p> There are great professionals in the world. But not being experienced in the industry it’s hard for homeowners to separate the good from the bad.</p>

      <p>That’s why we’ve built up a  recommended and handpicked network. Experienced professionals who can be trusted to do a good job.</p>

      <p>We then match customers with the most suitable in our network. Using a wide range of factors, from location to specialism to get the perfect fit.</p>

      <p>We have great relationships with them all so you know you’re in safe hands.</p>

      <h2>What we look for in professionals we work with</h2>

      <ul>
      <li>Personality</li>
      <li>Clear communication</li>
      <li>Presentable</li>
      </ul>

    </div>

  </div>
</section>
