<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/how_it_works" class="btn block border-bottom">How it works</a></li>
        <li><a href="/pages/pros" class="btn block border-bottom bg-yellow">Hand-picked professionals</a></li>
        <li><a href="/pages/quotes" class="btn block border-bottom">Accurate quotes</a></li>
      </ul>

    </aside>

    <div class="sm-col sm-col-8 px2">

      <h1 class="h2-responsive mt0">Hand-picked professionals</h1>

      <p>There are great professionals in the world. Unfortunately it's hard for homeowners to separate the good from the bad.</p>

      <p>That’s why we’ve built up a recommended and hand-picked network of experienced professionals who can be trusted to do a good job.</p>

      <h3>Invite only network</h3>

      <p>We only work with professionals who have been directly recommended to us. Growing the network steadily through word of mouth helps us keep standards high.</p>

      <h3>Experienced professionals</h3>

      <p>We have a range of professionals to suit different requirements. We check past work and qualifications to make sure they have the correct experience. </p>

      <h3>Friendly people</h3>

      <p>We meet every professional to be sure they share our values. We have regular catch-ups to maintain a strong relationship.</p>

      <div class="center">
        <a href="<%= brief_path %>" class="btn btn-primary btn-big">Get a free quote</a>
      </div>

    </div>

  </div>
</section>
