<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/how_it_works" class="btn block border-bottom">How it works</a></li>
        <li><a href="/pages/pros" class="btn block border-bottom">Hand-picked professionals</a></li>
        <li><a href="/pages/quotes" class="btn block border-bottom bg-yellow">Accurate quotes</a></li>
      </ul>

    </aside>

    <div class="sm-col sm-col-8 px2">

      <h1 class="h2-responsive mt0">Accurate quotes</h1>

      <p>Getting quotes is a time consuming and difficult business. They’re hard for professionals to build and hard for customers to understand.</p>

      <p>We use a framework which makes quotes easy to understand and create. It breaks the quote down in to clear sections and items, so that costs are clear and transparent.</p>

      <p>We then pass it on to the pro to make the final tweaks and submit.</p>

      <h3>Broken down quotes</h3>

      <p>All quotes break down into items, rooms and categories. This makes it easy to see that you're getting exactly what you want</p>

      <h3>Fixed rates</h3>

      <p>Every member of our network has their rates stored. Users can make changes and keep track of updates without fear.</p>

      <h3>Clear terms</h3>

      <p>Details such as guarantees, time frame and payment schedule are easy to view. Users can add comments and descriptions to make sure the quote is as intended.</p>


    </div>

  </div>
</section>
