<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">

      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/how_it_works" class="btn block border-bottom">How it works</a></li>
        <li><a href="/pages/pros" class="btn block border-bottom">Hand-picked professionals</a></li>
        <li><a href="/pages/quotes" class="btn block border-bottom bg-yellow">Accurate quotes</a></li>
      </ul>

    </aside>

    <div class="sm-col sm-col-8 px2">

      <h1 class="h2-responsive mt0">Accurate quotes</h1>

      <p>Getting quotes is a time consuming and difficult business. They’re hard for professionals to build and customers to understand.</p>

      <p>We use a framework that makes quoting easy and transparent.</p>

      <h3>Broken down</h3>

      <p>Quotes are split into rooms, categories and items. This makes it easy to see exactly what you're getting.</p>

      <h3>Fixed rates</h3>

      <p>Every member of our network has set rates. This helps customers understand the implications of any changes.</p>

      <h3>Clear terms</h3>

      <p>Quotes includes details such as guarantees, time frame and payment schedule. Setting out these terms helps to ensure a project runs smoothly. </p>

      <div class="center">
        <a href="<%= brief_path %>" class="btn btn-primary btn-big">Get a free quote</a>
      </div>

    </div>

  </div>
</section>
