<section class="container px2 py4">
  <div class="sm-col-7 mx-auto">
  <h1 class="center">Thank you</h1>

  <p>Your call back has been successfully arranged</p>

  <p>When you are called your allocated assistant will be happy to talk through all aspects of your job and create a tender document for you to view and edit.</p>

  <p>If you have any plans or measurements this will help the assistant create an accurate tender.</p>

  <p>We look forward to speaking with you shortly.</p>
  <div class="center">
  <a href="/" class="btn btn-primary gray">Take me home</a>
  </div>
  </div>
</section>
