<section class="container px2 py3">
  <div class="clearfix mxn2">
    <aside class="sm-col sm-col-4 px2">
      
      <ul class="list-reset border-left border-top border-right rounded">
        <li><a href="/pages/about" class="btn block border-bottom">About</a></li>
        <li><a href="/pages/values" class="btn block border-bottom bg-yellow">Values</a></li>
        <li><a href="/pages/faqs" class="btn block border-bottom">FAQs</a></li>
      </ul>
      
    </aside>
    
    <div class="sm-col sm-col-8 px2">
      
      <h1 class="h2-responsive mt0">1ROOF Values</h1>

      <h2>Simplicity</h2>

      <p>We aim to make things simpler, increasing efficiency and productivity to save people time. We do this by:</p>

      <ul>
      <li>Providing a centralised service</li>
      <li>Automating systems wherever possible</li>
      <li>Always looking for the simplest solution</li>
      </ul>


      <h2>Transparency</h2>

      <p>We aim for greater transparency, increasing trust and understanding to create a strong community. We do this by:</p>

      <ul>
      <li>Being totally transparent, independent and open</li>
      <li>Displaying information in a clear and comparable manner</li>
      <li>Building an engaging and helpful community</li>
      </ul>

      <h2>Empowerment</h2>

      <p>We aim to empower individuals, increasing their control and security to reduce stress in their lives. We do this by:</p>

      <ul>
      <li>Creating a base level of safety</li>
      <li>Enhancing the importance of the individual</li>
      <li>Supporting people in all aspects of their lives</li>
      <ul>
      
    </div>
    
  </div>
</section>
