<%= render 'layouts/header' %>
<%= render 'layouts/side_menu' %>

<div class="user-dashboard-container">
  <p class="dashboard-title">Bathroom Renovation Project</p>

  <div class="tender-dashboard">

    <p class="no-tender">Currently no Tender</p>

    <div class="tender-box">
      <div class="tender-box-content">
        <%= link_to new_document_url do %>
          <div class='one-roof-new-btn'>Create New Tender</div>
        <% end %>
      </div>
    </div>
    <div class="tender-box">
      <div class="tender-box-content">
        <select class="form-control template-select">
          <option>Template1</option>
          <option>Template2</option>
          <option>Template3</option>
          <option>Template4</option>
          <option>Template5</option>
        </select>
        <div class='one-roof-new-btn'>Add</div>
      </div>
    </div>
  </div>
</div>

