<h1 class="h1 h1-responsive sm-mt4 mb1 gray">Home improvement made easy</h1>
<h2 class="h2 sm-col-12 mx-auto mb2 gray">We provide busy Londoners with a hand-picked contractor and a broken-down quote</h2>
</br>
<div>
<a href="<%= brief_path %>" class="h4 btn btn-big bg-yellow gray">Get a free quote</a>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
