<h1 class="h1 h1-responsive sm-mt4 mb1 gray">Accurate quotes from quality pros</h1>
<h2 class="h2 sm-col-12 mx-auto mb2 gray">Get instant prices from our invite only network of quality builders for free</h2>
</br>
<div>
<a href="<%= brief_path %>" class="h4 btn btn-big bg-yellow gray">Submit tender or plans</a>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
