<h1 class="h1 h1-responsive sm-mt4 mb1 gray">Home improvement made easy</h1>
<h2 class="h2 sm-col-10 mx-auto mb2 gray">We match you with a handpicked professional to suit your project</h2>
</br>
<div>
<a href="<%= brief_path %>" class="h4 btn btn-big bg-yellow gray">Get a free quote</a>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
