<h1 class="h1 h1-responsive sm-mt4 mb1">Build your dreams</h1>
<p class="h3 sm-col-10 mx-auto mb2">1ROOF combines unique technology and helpful advice to make home improvement a breeze.</p>
<div>
<a href="<%= brief_path %>" class="btn btn-primary btn-big bg-darken-4 yellow mb3">Get Started</a>
</div>

