<header class="white bg-cover bg-center"
  style="background-image: url(<%= image_path 'home/bg1_blur.jpg' %>)">
  <div class="container">
    <%= render partial: 'shared/navigation', locals: {color: 'white'}  %>
    <div class="center px2 sm-py4 clearfix">
      <%= render partial: "pages/landing/cta" %>
    </div>
  </div>
</header>
