.document-header {
    background: #495258;
    color: white;
    padding: 20px;
    input {
        background: transparent;
    }
    .heading-total {
        display: inline-block;
        font-size: 30px;
    }
    button {
        margin-left: 20px;
        font-size: 20px;
    }
}

.document-sections-list {
    background: $dark-blue;
    padding: 20px;
}

.document-add-section {
    text-align: right;
    button {
        margin-left: 10px;
    }
}

.item-input {
    border: none;
    background: transparent;
    box-shadow: none;
    font-size: 16px;
}

.description-input {
    border: none;
    background: transparent;
    box-shadow: none;
    font-style: italic;
}
