.fixed-document-header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}

body {
  padding-top:250px; // Animates in on Chrome
}

.document-header {
    .title {
        margin: 0;
    }
    background: #495258;
    color: white;
    padding: 20px;
    input {
        background: transparent;
    }
    button {
        margin-left: 20px;
        font-size: 20px;
    }
}

.document-sections-list {
    background: $dark-blue;
    padding: 20px;
    height: 90px;
    #document-sections-menu {
        height: 100%;
        overflow-y: scroll;
    }
}

.document-add-section {
    text-align: left;
    button {
        margin-left: 10px;
    }
    margin-bottom: 40px;
    margin-top: 40px;
}

.item-input {
    border: none;
    background: transparent;
    box-shadow: none;
    font-size: 14px;
    resize: none;
}

.backup-buttons {
  margin-top: 5px;
}

.backup-button {
  font-size: 1em !important;
  padding: 3px;
  line-height: 1.2;
}
