.twitter-typeahead {
    // This is shit, overriding all typeaheads for this one, not using typeahed anywhere else as yet.
    width: 90%;
    margin-left: 5px;
}

.tt-suggestion {
  padding: 5px;
  cursor: pointer;
  &:hover {
    background: $dark-blue;
    color: white;
  }
}
