table.line-items-table {
    width: 100%;
    table-layout: fixed;
    th.line-item-spec-header {
        width: 15%;
    }
    th.line-item-notes-header, th.line-item-name-header {
        width: 20%
    }
    th.line-item-action-header, th.line-item-rate-header, th.line-item-total-header {
        width: 10%;
    }
    th.line-item-quantity-header, th.line-item-unit-header {
        width: 6%;
    }
}
