.line-item-row {
    .glyphicon-trash {
        float: right;
        margin-left: 10px;
    }
    .action-input {
        max-width: 100%;
        border: 1px solid grey;
    }
    .location-input .tt-menu {
        max-height: 100px;
        overflow-y: auto;
    }
}
