.document-sections-list {
    ul.navbar {
        margin-bottom: 0px;
    }
    .sections-list-li {
        margin-right: 10px;
        &.active {
            background-color: #F5C341;
        }
    }
    .btn-group > .btn {
        border-radius: 0;
    }
    .section-list-expander {
        margin-top: 8px;
        .glyphicon {
            vertical-align: middle;
        }
    }
}
