<div class="relative sm-col sm-col-4 py4 px1 bg-gray bg-cover bg-right bg-top fixed-height-2"
  style="background-image: url(<%= image_path image %>)">
  <p class="h5 absolute bg-yellow black p1 speech speech-top">
    <strong><%= name %><br></strong><%= comment %>
  </p>
</div>

