@import "styles/fonts";
@import "styles/basscss/basscss";
@import "styles/logo";
@import "styles/ujsh";
@import "styles/fixed_height";
@import "styles/speech";
@import "styles/errors";
@import "animate";
@import "pika";
@import "codemirror";

$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);

body{
  transition: all 0.6s $easeInOutQuint;
}

body.no-transition{
  transition: none;
}

.appcontainer {
  max-width: 90em;
  margin-left: auto;
  margin-right: auto;
}

nav a:hover {
  color: $yellow
}
.bg-yellow a:hover {
  color: $white
}

.transparent {
  opacity: 0;
}

[data-step] {
  transition: all 0.6s $easeInOutQuint;
}
[data-step].out {
  opacity: 0;
  pointer-events: none;
}

.icon-radio--button{
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s $easeOutQuint;
}

.icon-radio--button:hover {
  background-color: $yellow;
  color: $black;
  text-decoration: none;
}

.icon-radio--button:active,
.icon-radio--button.active {
  background-color: $yellow;
  color: $black;
  text-decoration: none;
}

.edit_project .icon-radio--button img.fixed-height{
  height:4rem;
}

.edit_project .icon-radio--button h4{
  font-size:$h6;
}

.modal-container {
 overflow-x:hidden;
}
.modal-body, .modal-container {
  transition: all 0.5s $easeInOutBack;
}
.out .modal-container{
  transform: translate(0, 100px) scale(0.95);
  opacity: 0;
}
.out.modal-body {
  opacity: 0;
}

.thumb {
  min-height: 150px;
}

.cursor-zoom {
  cursor: -webkit-zoom-in;
}
.cursor-pointer {
  cursor: pointer
}
.cursor-download {
  cursor: s-resize;
}

.avatar{
  width: 48px;
  height: 48px;
  border-radius: 48px;
}

.pill {
  border-radius: $space-4;
  text-decoration:none;
}


.typeahead-item.cursor {
  background-color: $yellow;
}
.typeahead-item:hover{
  background-color: lighten($yellow, 20);
}
.typeahead-item a{
  display: block;
  text-decoration: none;
}

.inline-input {
  height: auto !important;
  padding: 0.125rem !important;
  margin: -0.125rem;
  text-align: center;
  font-weight: bold;
  color: $blue;
  border: none;
  &:hover, &:focus {
    border-bottom: 2px dotted;
    top: 1px;
    position:relative;
  }
  &.align-left{
    text-align: left;
  }
}

.btn.busy {
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
  cursor: default;
}

.dropzone.hover {
  background-color: $yellow;
}

.no-decoration {
  text-decoration: none
}

.readonly input{
  pointer-events:none;
  color: $black;
}
.readonly r-tender-item-input {
  display: none
}

r-tender-item-group .border-bottom, r-tender-section .border-bottom {
  border-bottom-style: dashed;
}
r-tender-item-group .border-left {
  border-left-style: dashed;
}

.twitter-typeahead {
  display: block !important;
}
.tt-menu{
  width:100%;
  border: 1px solid $border-color;
  background-color: $white;
}
.tt-cursor {
  background-color: $yellow;
}

.border-cleaner {
  border-left: 1rem solid white;
  height: 100%;
  left: -1.5rem;
}
.cursor-default{
  cursor: default;
}

.tab-nav a.active{
  border-bottom: 1px solid $white;
  position: relative;
  top: 1px;
}

.kind-ico{
  height: 72px;
  width: auto;
  margin: -24px -12px;
}
