<div class="container">
    <h1>Edit Rate</h1>

    <table>
        <thead>
            <td>
                Item Action
            </td>
            <td>
                Item Name
            </td>
            <td>
                Item Spec
            </td>
            <td>
                Rate
            </td>
            <td>
            </td>
        </thead>
        <tbody>
            <tr><%= render partial: "rate", locals: { rate: @rate } %></tr>
        </tbody>
    </table>
    <%= link_to "Rates List", rates_path %>
</div>
