<div class='side-menu'>
  <div class="menu">
    <div class="menu-item">Overview</div>
    <div class="menu-item">Docs</div>
    <div class="menu-item">Team</div>
    <div class="menu-item">Tenders</div>
    <div class="menu-item">Quotes</div>
    <div class="menu-item">Payments</div>
  </div>
</div>