<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'shared/head' %>
  <%= stylesheet_link_tag 'application', media: 'all'%>
</head>
<body>
  <%= yield %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <%= javascript_include_tag 'application' %>
</body>
</html>
