<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width" />

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>1ROOF</title>

  <style>
  * {
    margin:0;
    padding:0;
  }
  * { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }
  img {
    max-width: 100%;
  }
  body {
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:none;
    width: 100%!important;
    height: 100%;
  }
  p {
    margin-bottom:1rem;
  }
  </style>
</head>

<body bgcolor="#DDD">

  <table width="80%" height="80%" style="margin:10% auto;">
    <tr>
      <td align="center" style="padding:2rem">
        <div style="width:180px;height:76px;">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 360 152" enable-background="new 0 0 360 152" style="width:100%;height:100%"><style type="text/css">.st0{fill:#485257;} .st1{fill:#FDDC00;}</style><g id="XMLID_2_"><path id="XMLID_3_" class="st0" d="M70.5 113.9c24.7 0 44.6-20 44.6-44.6s-20-44.6-44.6-44.6-44.6 20-44.6 44.6 19.9 44.6 44.6 44.6"/><g id="XMLID_1_"><path id="XMLID_26_" class="st0" d="M158.8 96.3v-49.6h22.2c4.8 0 9 1.6 12.4 5 3.4 3.3 5.1 7.3 5.1 12.1 0 6.3-3.3 11.8-8.3 14.2l12.2 18.4h-15.3l-9.9-15.4h-5.1000000000000005v15.4h-13.3zm13.3-26.3h7.4c3.6 0 5.7-2.1 5.7-5.8 0-3.1-2-5.3-4.6-5.3h-8.5v11.1z"/><path id="XMLID_23_" class="st0" d="M249.5 89.8c-5.3 5-11.6 7.5-19.1 7.5-7.5 0-13.8-2.5-19.1-7.5-5.3-5.1-7.8-11.1-7.8-18.1 0-7.1 2.6-13.1 7.8-18.2 5.3-5.1 11.6-7.5 19.1-7.5 7.5 0 13.8 2.5 19.1 7.5 5.3 5 7.9 11 7.9 18.2 0 7-2.6 13.1-7.9 18.1m-28.5-8.5c2.6 2.6 5.7 3.9 9.5 3.9 3.6 0 6.8-1.4 9.4-4 2.7-2.7 4-5.9 4-9.5 0-3.6-1.3-6.8-4-9.5-2.6-2.7-5.7-4.1-9.4-4.1-3.6 0-6.8 1.4-9.4 4.1-2.6 2.6-3.9 5.8-3.9 9.5 0 3.8 1.2 7 3.8 9.6"/><path id="XMLID_20_" class="st0" d="M308 89.8c-5.3 5-11.6 7.5-19.1 7.5-7.5 0-13.8-2.5-19.1-7.5-5.3-5.1-7.8-11.1-7.8-18.1 0-7.1 2.6-13.1 7.8-18.2 5.3-5.1 11.6-7.5 19.1-7.5 7.5 0 13.8 2.5 19.1 7.5 5.3 5 7.9 11 7.9 18.2 0 7-2.6 13.1-7.9 18.1m-28.5-8.5c2.6 2.6 5.7 3.9 9.5 3.9 3.6 0 6.8-1.4 9.4-4 2.7-2.7 4-5.9 4-9.5 0-3.6-1.3-6.8-4-9.5-2.6-2.7-5.7-4.1-9.4-4.1-3.6 0-6.8 1.4-9.4 4.1-2.6 2.6-3.9 5.8-3.9 9.5 0 3.8 1.2 7 3.8 9.6"/><path id="XMLID_6_" class="st0" d="M322.5 46.7v49.6h13.3v-18.3h19.9v-11.4h-19.9v-7.7h22v-12.2z"/></g><path id="XMLID_15_" class="st1" d="M78.7 96.3h-13.3v-37.2h-7.2v-12.1h20.5v49.3zm52.9-58.7l-57-36c-2.8-1.8-7.4-1.8-10.2 0l-57 36c-2.8 1.8-5.1 5.9-5.1 9.3v68.8c0 3.3 2.7 6.1 6 6.1h24v29.9l47.3-29.9h51.2c3.3 0 6-2.7 6-6.1v-68.8c-.1-3.3-2.4-7.5-5.2-9.3"/></g></svg>
        </div>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFF" style="padding:2rem">
        <%= yield %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#DDD" style="padding:2rem;font-size:80%">
        <table width="100%" style="margin-bottom:1rem;">
          <tr>
            <td width="50%">
              <a href="mailto:hello@1roof.com">hello@1roof.com</a>
            </td>
            <td width="50%" align="right">
              Copyright © 2015 1ROOF, All rights reserved.
            </td>
          </tr>
        </table>
        <p>Email by 1ROOF mail bot ;)</p>
      </td>
    </tr>
  </table>

</body>
</html>
